<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oefening 2</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<h1>Teller</h1>    

<div id="app">
    <h1 v-if="show">{{ teller }}</h1>
    <p v-show="!show">Counter is currently hidden</p>
    <button @click="tellerPlus">+1</button>
    <button @click="tellerMin">-1</button>
    <button @click="toggleShow">
        <span v-if="show">Hide</span>
        <span v-else>Show</span>
    </button>

    <br><br>

    <h1>v-bind en v-model</h1>
    <input type="text" v-model="url">
    <p>De url is: {{ url }}</p>
    <a :href="url" target="_blank">Ga naar de url</a>
    <br><br>
    <input type ="checkbox" v-model="checked" true-value="gevinkt" false-value="leeg">
    <p>De checkbox is: {{ checked }}</p>
</div>


<script src="./app.js"></script>
</body>
</html>